- const currentPage = pagination.currentPage
- const totalPages = pagination.totalPages
- const array = Array.from({length: totalPages}, (_, i) => i + 1)

section(aria-label="pagination" class="flex flex-row items-center justify-center gap-2")
  a(href=("/?page=1") class="text-xs font-bold") |<
  if currentPage===1
    each page in array.slice(0,currentPage+2)
      a(href=(`/?page=${page}`) class="pagination-button" class=currentPage===page?"active":"") #{page}
  else if currentPage === totalPages
    each page in array.slice(totalPages-3<0?0:totalPages-3,totalPages)
      a(href=(`/?page=${page}`) class="pagination-button" class=currentPage===page?"active":"") #{page}
  else
    each page in array.slice(currentPage-2<0,currentPage+1)
      a(href=(`/?page=${page}`) class="pagination-button" class=currentPage===page?"active":"") #{page}
  a(href=(`/?page=${pagination.totalPages}`) class="text-xs font-bold") >|