section(aria-label="table")
  div(class="flex flex-row gap-2")
    each collection in collections
      a(href=(`/?log=${collection}&page=1`) class="flex flex-row items-center px-1 collection-header" class=collection===logs.collection?"active":"")= collection
  ul
    each log in logs.data
      li
        span(class="text-gray-600") #{log.date}(#{log.timeAgo})
        span(class="text-gray-800")= log.message